<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LouMapInfoApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <LouMapInfoApp.Properties.Settings>
            <setting name="bbCode_u" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bbCode_s" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bbCode_i" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bbCode_b" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bbCode_url" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bbCode_city" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bbCode_player" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bbCode_alliance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="liveUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="livePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="liveWorld" serializeAs="String">
                <value />
            </setting>
            <setting name="zeusWorld" serializeAs="String">
                <value />
            </setting>
            <setting name="zeusUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="zeusPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="apUseSlots" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="apNumCottages" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="apKeepExtraResNodes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="apClearBuildings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="apBuildOnlyOnOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="apPlacementSchedule" serializeAs="String">
                <value>F,*2,WSI,*100</value>
            </setting>
            <setting name="dispCityCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dispCityScore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dispCityName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dispPlayerCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dispPlayerScore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dispAllianceScore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dispAllianceRank" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filtCities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filtCastles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filtPalaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filtLand" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filtWater" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filtNoAlliance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filtNoCities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="liveRememberMail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="liveRememberPass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="detailLevel" serializeAs="String">
                <value>4</value>
            </setting>
        </LouMapInfoApp.Properties.Settings>
    </userSettings>
</configuration>
